:root {
  --primary: teal;
  --site-width: 1024px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*border: 1px red dotted;*/
}

header {
  background-color: var(--primary);
}

main {
  max-width: var(--site-width);
  margin: auto;
}

/* LOGIN & SIGN-UP PAGE */

#nav-header {
  max-width: var(--site-width);
  height: 50px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

#header-links > ul {
  list-style-type: none;
  display: flex;
}

#login-container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 300px;
}

.job-container {
  margin: 10px 0 10px 0;
  padding: 10px;
}

.progress-pill {
  display: inline-block;
  background-color: grey;
  padding: 4px 10px 4px 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  border-radius: 20px;
}

#add-job-dialog {
  width: 700px;
  height: 700px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity: 0;
  transition: all 3s;
  border: none;
}

#add-job-dialog[open] {
  pointer-events: inherit;
  opacity: 1;
}

#add-job-dialog::backdrop {
  backdrop-filter: blur(1px);
}
