:root {
  --primary: teal;
  --site-width: 1024px;
}

.wishlist {
  background-color: #6c747d;
}

.applied {
  background-color: #ffc107;
}

.interview {
  background-color: #0d47a1;
}

.offer {
  background-color: #e65100;
}

.rejected {
  background-color: #424242;
}

.closed {
  background-color: #000;
}
