<div class="modal-content p-5">
	<form action="/edit-job" method='POST' id="edit-job-form">
		<input type="hidden" value="{{id}}" name="id">
		<label for="progress" class="form-label small">Progress</label>
		{% if progress_id =="1" %}
		<select name="progress_id" id="progress" class="form-control bg-secondary text-white" name="progress_id">
			<option value="1" selected>Wishlist</option>
			<option value="2">Applied</option>
			<option value="3">Interview</option>
			<option value="4">Offer</option>
			<option value="5">Rejected</option>
			<option value="6">Closed</option>
		</select>
		{% elif progress_id == "2" %}
		<select name="progress_id" id="progress" class="form-control bg-secondary text-white" name="progress_id">
			<option value="1">Wishlist</option>
			<option value="2" selected>Applied</option>
			<option value="3">Interview</option>
			<option value="4">Offer</option>
			<option value="5">Rejected</option>
			<option value="6">Closed</option>
		</select>
		{% elif progress_id == "3" %}
		<select name="progress_id" id="progress" class="form-control bg-secondary text-white" name="progress_id">
			<option value="1">Wishlist</option>
			<option value="2">Applied</option>
			<option value="3" selected>Interview</option>
			<option value="4">Offer</option>
			<option value="5">Rejected</option>
			<option value="6">Closed</option>
		</select>
		{% elif progress_id == "4" %}
		<select name="progress_id" id="progress" class="form-control bg-secondary text-white" name="progress_id">
			<option value="1">Wishlist</option>
			<option value="2">Applied</option>
			<option value="3">Interview</option>
			<option value="4" selected>Offer</option>
			<option value="5">Rejected</option>
			<option value="6">Closed</option>
		</select>
		{% elif progress_id == "5" %}
		<select name="progress_id" id="progress" class="form-control bg-secondary text-white" name="progress_id">
			<option value="1">Wishlist</option>
			<option value="2">Applied</option>
			<option value="3">Interview</option>
			<option value="4">Offer</option>
			<option value="5" selected>Rejected</option>
			<option value="6">Closed</option>
		</select>
		{% elif progress_id == "6" %}
		<select name="progress_id" id="progress" class="form-control bg-secondary text-white" name="progress_id">
			<option value="1">Wishlist</option>
			<option value="2">Applied</option>
			<option value="3">Interview</option>
			<option value="4">Offer</option>
			<option value="5">Rejected</option>
			<option value="6" selected>Closed</option>
		</select>
		{% endif %}



		<input type="hidden" value="{{progress_id}}" name="progress_id">

		<label for="title" class="form-label  small">Job Title</label>
		<input class="form-control" type="text" name="title" id="title" value="{{title}}">

		<label for="company" class="form-label small">Company</label>
		<input class="form-control" type="text" name="company" id="company" value="{{company}}">

		<label for="deadline" class="form-label small">Deadline</label>
		<input class="form-control" type="date" name="deadline" id="deadline" value="{{deadline}}">

		<label for="applied" class="form-label small">Applied</label>
		<input class="form-control" class="form-control" type="date" name="applied" id="applied" value="{{applied}}">

		<label for="job-type-selector" class="form-label small">Type of Work</label>
		<select name="job-type" id="job-type-selector" class="form-control">
			{% if type == "On-Site" %}
			<option value="1" selected>Onsite</option>
			<option value="2">Remote</option>
			<option value="3">Hybrid</option>
			{% elif type == "Remote" %}
			<option value="1">Onsite</option>
			<option value="2" selected>Remote</option>
			<option value="3">Hybrid</option>
			{% elif type == "Hybrid" %}
			<option value="1">Onsite</option>
			<option value="2">Remote</option>
			<option value="3" selected>Hybrid</option>
			{% endif %}
		</select>

		<label for="job-board-selector" class="form-label small">Job Board Selector</label>
		<select name="job-board" id="job-board-selector" class="form-control">
			{% if job_board == 'LinkedIn' %}
			<option value="1" selected>LinkedIn</option>
			<option value="2">SEEK</option>
			<option value="3">Indeed</option>
			<option value="4">Other</option>
			{% elif job_board == 'SEEK' %}
			<option value="1">LinkedIn</option>
			<option value="2" selected>SEEK</option>
			<option value="3">Indeed</option>
			<option value="4">Other</option>
			{% elif job_board == 'Indeed' %}
			<option value="1">LinkedIn</option>
			<option value="2">SEEK</option>
			<option value="3" selected>Indeed</option>
			<option value="4">Other</option>
			{% elif job_board == 'Other' %}
			<option value="1">LinkedIn</option>
			<option value="2">SEEK</option>
			<option value="3">Indeed</option>
			<option value="4" selected>Other</option>
			{% endif %}
		</select>
		<label for="url" class="form-label form-label small">URL</label>
		<input id=url type="url" class="form-control" value="{{url}}">

		<input type="submit" value="Save Changes" id="submit-new">
	</form>
</div>

<script>
	const button = document.getElementById('#submit-new')
</script>