{% extends 'base.html' %}

{% block content %}
{% set id, title, company, deadline, applied, job_board, type, progress, link, progress_id = job %}
<a href="/jobs">Back to Jobs</a>
<h2 class="mt-3">
	<div class="badge badge-pill {{progress}}">{{progress}}</div>
</h2>
<h1>{{title}}</h1>
<h3>{{company}}</h3>
<p>{{type}}</p>
<p>Deadline: {{deadline}}</p>
<p>Applied: {{applied}}</p>
<p>Found On {{job_board}}</p>
<h3>Files</h3>
{% for file in files %}
{% set file_id, job_id, file_name, file_url = file %}
<p><a href="{{file_url}}">{{file_name}}</a></p>

{% endfor %}


<form action="/upload" method="POST" enctype="multipart/form-data">
	<input type="hidden" name="id" value="{{id}}">
	<label for="user_file">Upload Your File</label>
	<br>
	<input type="file" name="user_file">
	<br>
	<button type="submit">Upload</button>

</form>

<button class="btn btn-secondary ms-auto" data-bs-toggle="modal" data-bs-target="#editModal">Edit Job</button>
<button class="btn btn-secondary ms-auto" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete Job</button>

<div id="editModal" class="modal fade">
	<div class="modal-dialog">

		{% include "edit-job-dialog.html" %}
	</div>
</div>

<div id="deleteModal" class="modal fade">
	<div class="modal-dialog">
		{% include "delete-job-dialog.html" %}
	</div>
</div>
{% endblock %}