{% for application in applications %}

{% set job_id, job_title, company, deadline_date, applied_date, job_board, type_of_work, progress, progress_id =
application %}

<div class="card mb-2 bg-light">
	<div class="card-body">
		<div class="d-flex align-items-center align-middle mb-3">
			<div class="fs-4 fw-bold">{{job_title}}</div>
			<div class="fs-4 ms-3">{{company}}</div>
			<span class="{{progress}} badge rounded-pill ms-3">{{progress}}</span>
		</div>
		<div class="d-flex align-items-center">
			<div>Applied {{applied_date.strftime('%B %-d, %Y')}}</div>
			<a href="/job/{{job_id}}" class="btn btn-sm btn-primary">View Job Details</a>
		</div>
	</div>
</div>

{% endfor %}