{% extends 'base.html' %}

{% block content %}
<div id="login" class="d-flex flex-column align-items-center">
	<h1>Sign Up</h1>
	<div id="sign-up-container" class="card w-50">
		<form action="/sign-up" method="POST" class="form-group p-5" id="sign-up-form">
			<label for="name">Name</label>
			<input type="text" name="name" class="form-control"><br>
			email:
			<input type="text" name="email" class="form-control"><br>
			password: <input type="password" name="password" id="password" class="form-control"><br>
			check password: <input type="password" name="checkpassword" id="checkpassword" class="form-control"><br>
			<input type="submit" value="Sign Up" class="form-control btn-primary">
			<p class="mt-3">Already Have An Account? <a href="/login">Click Here To Login</a></p>
			<p id="errormessage"></p>
		</form>
	</div>
</div>

<script>
	const form = document.getElementById("sign-up-form");
	const password = document.getElementById("password");
	const checkpassword = document.getElementById("checkpassword");
	const errorMessage = document.getElementById("errormessage");

	form.addEventListener('submit', (e) => {
		if (password.value !== checkpassword.value) {
			e.preventDefault();
			errorMessage.textContent = "Passwords do not match"
		}
	})
</script>
{% endblock %}